{
    "presets": [ // We select the preset 
        ["env", { // And we select this the one the we want from presets, environments means the browser
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}